.card {
    background-color: #1d2129;
    width:min-content;
    box-sizing: border-box;
    height:inherit;
    margin:10px;
    float: left;
    border-radius: 2px;
}

.card span { /*Should be used to style any children*/
    color: white;
    display: inline-block;
    padding: 10px 20px;
}

.cardTitle {
    width:100%;
    box-sizing: border-box;
    margin:0px;
    padding:10px;
    background-color: #161a21;
    border-Left: 4px solid steelblue;
    color: white;
}